@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

*{
  margin: 0;
  padding: 0;
}


body{
  font-family: Nunito arial Sans-Serif;
  background: #a9adae;
}

.title{
  text-align: center;
  margin: 25px auto;
}

.container{
  text-align: center;
}

.input-todo{
  width: 200px;
  height: 40px;
  text-align: center;
  margin: 0;
  border: none;
  border-radius: 10px;
  transition: 0.5s;
  border: 3px solid black;
}

.input-todo:focus{
  box-shadow: 0 0 10px rgb(0,202,252,1);
}

.input-place{
  display: inline-block;
}

.btn-todo{
  width: 40px;
  height: 40px;
  position: relative;
  top: 15px;
  border: none;
  border-radius: 5px;
  transition: 0.15s;
  background: #bfbfbf;
  background-image: url(https://cdn-icons-png.flaticon.com/512/1828/1828925.png);
  background-size: 70% 70%;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
}

.btn-todo:active{
  opacity: 50%;
}

.todo{
  text-align: center;
  border: 1.5px solid black;
  line-height: 35px;
  margin: 15px auto;
  width: 250px;
  height: 35px;
  color: white;
  font-weight: bold;
  /*background: #a3a3a3;*/
  border-radius: 10px;
  padding: 10px;
  position: relative;
}

.btn-place{
  display: flex;
  justify-content: flex-end;
}

.text{
  position: absolute;
  left: 0;
  left: 15px;
  font-weight: bold;
  color: black;
}

.btn-done{
  width: 35px;
  height: 35px;
  background-color: #ccf5d8;
  background-image: url(https://cdn-icons.flaticon.com/png/512/1055/premium/1055183.png?token=exp=1640604420~hmac=c8a1cf87d4b59f686f6ee88364a2abf3);
  background-size: 70% 70%;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 10px;
}

.btn-delete{
  width: 35px;
  height: 35px;
  background-color: #f5cccc; 
  background-image: url(https://cdn-icons-png.flaticon.com/512/1214/1214428.png);
  background-size: 70% 70%;
  background-position: center;
  background-repeat: no-repeat;
}

.btn-place div{
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0,0,0,0.3);
  transition: .3s;
}

.btn-place div:hover{
  opacity: 50%;
}

.underline{
  text-decoration: line-through;
}

.change-color{
  background-color: #f5f5cc;
}